.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "page page page"
    "page page page"
    "page page page";
  text-align: center;
}

.page {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.01fr 0.1fr 0.01fr 1fr 0.01fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "app-header app-header app-header"
    "title title title"
    "menu menu menu"
    "gallery gallery gallery"
    "trusted-by trusted-by trusted-by"
    "content content content"
    "footer footer footer"
    ". . ."
    ". . .";
  grid-area: page;
}

.app-header {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header-welcome"
    "header-menu";
  grid-area: app-header;
}

.header-welcome { grid-area: header-welcome; 
  background-color: #f7f700;
  min-height: 1.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3vh;
  color: rgb(0, 0, 0);}

.header-menu {  display: grid;
  background-color: #e7e7e8;
  align-items: center;
  font-size:1.3vh;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "aus-owned artwork portfolio phone-num about";
  grid-area: header-menu;
}

.aus-owned { grid-area: aus-owned; }

.artwork { grid-area: artwork; }

.portfolio { grid-area: portfolio; }

.phone-num { grid-area: phone-num; }

.about { grid-area: about; }

.title {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "name search";
  grid-area: title;
  background-color: #214fff
}

.name { grid-area: name; 
  color:#ffffff;
  font-size: 2vh;
  text-align: left;
  margin-left: 10vw;
  display: flex;
  align-items: center;
  font-family: 'Shantell Sans', cursive;
}

.search {
  grid-area: search;
  /* border:1px solid #000; */
  display:flex;
  align-items: center;
  margin-left: 15vw;
  
}

input{
  background-color:#ffffff;
}
button {
  background-color:#44baae;
}


.menu { grid-area: menu; 
  background-color: #99999b;
}

.dropbtn {
  background-color: #99999b;
  color: white;
  padding: 16px;
  /* font-size: 16px; */
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1532a5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #112884}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #1532a5;
}

p{
  color:white;
}



.gallery { grid-area: gallery; }
.trusted-by { grid-area: trusted-by;
text-align: center; }
.content { grid-area: content; text-align: center;}
.footer {
  background-color: #99999b;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 100px 100px 100px; 
  gap: 0px 0px; 
  grid-template-areas: 
    "good-things good-things good-things"
    "links links cont-form"
    "links links cont-form"; 
  grid-area: footer; 
}
.good-things { grid-area: good-things; text-align: left;
margin-left: 8vw;}
.links {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "links1 links2 links3"
    "links1 links2 links3"
    "links1 links2 links3"; 
  grid-area: links; 
}
.links1 { grid-area: links1; text-align: left;margin-left: 8vw;}
.links2 { grid-area: links2; text-align: left;margin-left: 8vw;}
.links3 { grid-area: links3; text-align: left;margin-left: 8vw;}
.cont-form {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "contact-us contact-us"
    "your-name your-name"
    "email phone"
    "message message"
    "send ."; 
  grid-area: cont-form; 
}
.contact-us { grid-area: contact-us;text-align: left; }
.your-name { grid-area: your-name; text-align: left;}
.email { grid-area: email; text-align: left;}
.phone { grid-area: phone; text-align: left;}
.message { grid-area: message; text-align: left;}
.send { grid-area: send; text-align: left;}
